.navbar-container {
  width: 100%;
  height: 10vh;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

.nav-logo {
  width: 3rem;
}

.nav-icon {
  color: var(--darkgreen);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.list-mob {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 0;
  list-style: none;
  /* border: 1px solid red; */
  background-color: var(--white);
  width: 100%;
  height: 80vh;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0;
  /* justify-content: center; */
}

.list-mob a {
  cursor: pointer;
  border: 1px solid var(--darkgreen);
  width: 80%;
  height: 2.7rem;
  border-radius: 5px;
  color: var(--darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0.5px 0.5px 5px 1px rgb(16, 16, 16);
}
.list-desk {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.list-desk a {
  cursor: pointer;
  color: var(--darkgreen);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image-container h2 {
  color: var(--darkgreen);
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 768px) {
 
  .image-container h2 {
    display: none;
  }
  .list-mob {
    display: flex;
  }
  .list-desk {
    display: none;
  }
  .nav-icon {
    display: flex;
  }
}
